/.history
/.history/*
/.idea/phpunit.xml
/.idea
/.idea/*
/.idea/phpunit.xml`
/storage
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache




.env
dist/*
/images
/images/*
/nbproject/private/

.vscode/launch.json

/.collections
/.collections/*
/.phpunit.cache
/.phpunit.cache/*
